/**********************************************************
*   @TYPOGRAPHY
***********************************************************/
@font-face {
  font-family: 'TonyaWSerif';
  src: url("../fonts/DanmarkURWT-Bold.woff2") format("woff2"), url("../fonts/DanmarkURWT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TonyaWSerif';
  src: url("../fonts/DanmarkURWT-Medi.woff2") format("woff2"), url("../fonts/DanmarkURWT-Medi.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
