/**********************************************************
*   @FORMS
***********************************************************/
.form-control {
	padding: 25px 20px;
	border-radius: 10px;
	font-weight: $regular;
	color: $black;
	border: none;
	box-shadow: 10px 10px 20px 3px rgba(0,0,0,0.15);
	margin-bottom: 20px;
}