/**********************************************************
*   @SPACERS
***********************************************************/

div[class^='spacer-'],div[class*=' spacer-'] {
    width: 100%;
    clear: both;
}

.spacer-5px  { height: 5px; }
.spacer-10px { height: 10px; }
.spacer-15px { height: 15px; }
.spacer-20px { height: 20px; }
.spacer-25px { height: 25px; }
.spacer-30px { height: 30px; }
.spacer-35px { height: 35px; }
.spacer-40px { height: 40px; }
.spacer-45px { height: 45px; }
.spacer-50px { height: 50px; }
.spacer-55px { height: 55px; }
.spacer-60px { height: 60px; }
.spacer-65px { height: 65px; }
.spacer-70px { height: 70px; }
.spacer-75px { height: 75px; }
.spacer-80px { height: 80px; }
.spacer-85px { height: 85px; }
.spacer-90px { height: 90px; }
.spacer-95px { height: 95px; }
.spacer-100px { height: 100px; }